<section id="main">
  <div id="map-container"></div>

  <div class="results">
    <div class="box">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#coffee" data-toggle="pill">Coffee</a></li>
        <li><a href="#bourbon" data-toggle="pill">Bourbon</a></li>
        <li><a href="#club" data-toggle="pill">Club</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="coffee">
          <div class="list-group">
            <a href="#" class="list-group-item locate-me btn btn-default">Locate Me</a>
            <div class="list-group-item searching">Searching&hellip;</div>
          </div>
        </div>

        <div class="tab-pane" id="bourbon">
          <div class="list-group">
            <a href="#" class="list-group-item locate-me btn btn-default">Locate Me</a>
            <div class="list-group-item searching">Searching&hellip;</div>
          </div>
        </div>

        <div class="tab-pane" id="club">
          <div class="list-group">
            <a href="#" class="list-group-item locate-me btn btn-default">Locate Me</a>
            <div class="list-group-item searching">Searching&hellip;</div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
