<section id="main">
  <div id="map-container"></div>

  <div class="results">
    <div class="box">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#coffee" data-category="coffee" data-toggle="pill">Coffee</a></li>
        <li><a href="#bourbon" data-category="bourbon" data-toggle="pill">Bourbon</a></li>
        <li><a href="#club" data-category="club" data-toggle="pill">Club</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="coffee">
          <div id="coffee_venues" class="list-group">
          </div>
        </div>

        <div class="tab-pane" id="bourbon">
          <div id="bourbon_venues" class="list-group">
          </div>
        </div>

        <div class="tab-pane" id="club">
          <div id="club_venues" class="list-group">
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
