<div class="list-group" id="coffee">
  <div class="list-group-item panel">
    <a data-toggle="collapse" data-parent="#coffee" data-target="#coffee_1">item number 1</a>
    <div id="coffee_1" class="details collapse">hello</div>
  </div>

  <div class="list-group-item panel">
    <a data-toggle="collapse" data-parent="#coffee" data-target="#coffee_2">item number 2</a>
    <div id="coffee_2" class="details collapse">hello</div>
  </div>

  <div class="list-group-item panel">
    <a data-toggle="collapse" data-parent="#coffee" data-target="#coffee_3">item number 3</a>
    <div id="coffee_3" class="details collapse">hello</div>
  </div>
</div>
