$coffee: #73b6e6;
$bourbon: #f4bf70;
$club: #9a89cc;

body {
  background: #fafafa;
  padding: 30px 15px;
  color: #444;
}

#main {
  @include clearfix;
}

#map-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.results {
  @include make-xs-column(12);

  @include make-sm-column(4);
  @include make-sm-column-offset(8);
}

.box {
  background: #fafafa;
  /*padding: 15px;*/
  /*border: 1px solid #eee;*/
}

.nav-pills {
  li {
    a {
      color: #555;
      font-weight: bold;
      border-bottom: 2px solid transparent;
      padding-bottom: 8px;
      border-radius: 0;
    }

    &.active a {
      background: transparent;
      color: #555;

      &[data-category="coffee"] {
        border-color: $coffee;
      }

      &[data-category="bourbon"] {
        border-color: $bourbon;
      }

      &[data-category="club"] {
        border-color: $club;
      }
    }
  }
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

#coffee, #bourbon, #club {
  .panel {
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
  }
  .list-group-item {
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: -1px;
    padding: 0;

    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      &:hover {
        background-color: $list-group-hover-bg;
      }
    }
  }
}

a[data-toggle="collapse"] {
  cursor: pointer;
}
